@font-face {
  font-family: 'Glosa Roman';
  src: url('./fonts/glosa-roman.ttf');
}

@font-face {
  font-family: 'Korbin';
  src: url('./fonts/korbin-medium.ttf');
}

* {
  margin: 0;
  padding: 0;
  text-align: center;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h2 {
  font-size: 65px;
  font-family: 'Glosa Roman', serif;
  letter-spacing: 20px;
  font-weight: 200;
}

h6 {
  font-size: 36px;
  font-family: 'Glosa Roman', serif;
  font-weight: 200;
}

p {
  font-size: 23px;
  font-family: 'Korbin', sans-serif;
}

.section-wrapper {
  width: 940px;

  > * {
    margin: 40px 0;
  }
}

.shelf {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
}

.textblock {
  display: none;
  p {
    margin: 15px 0 0;
  }
}

.album {
  width: 80px;
  height: 440px;
  //   margin-right: -380px;
  background-size: cover;
  cursor: pointer;
  transition: all 0.5s;
}

#cardboard-city {
  background-image: url('./images/cardboard-city.jpg');
}
#gorilla {
  background-image: url('./images/gorilla.jpg');
}

#hdyfagm {
  background-image: url('./images/hdyfagm.jpeg');
}

#mss {
  background-image: url('./images/mss.jpg');
}

#raf {
  background-image: url('./images/raf.jpg');
}
#sita {
  background-image: url('./images/sita.jpg');
}

#blonde {
  background-image: url('./images/blonde.jpg');
}

.selected-album {
  width: 440px;
  margin: 0 10px;
}

.selected-text {
  display: block;
}
